
<div>

  <div class="pull-right">
    <button class="btn btn-outline-primary btn-sm" (click)="logout()">Log Out</button>

  </div>




  <a  data-toggle="collapse" (click)="afficherSideBar()"><i class="fa fa-navicon fa-lg" aria-hidden="true"></i></a>

  <hr/>

  <nav class="navbar navbar-expand-sm bg-light">

    <div>
      <ul class="navbar-nav " >
        <li class="nav-item">
          <a class="clickable " >Contact</a>
        </li>
        <li class="nav-item">
          <a class="clickable"(click)="AllPost()">Services</a>
        </li>
        <li class="nav-item">
          <a class="clickable" >About</a>
        </li>
        <li class="nav-item">
          <a class="clickable" >Publicity</a>
        </li>
        <li class="nav-item">
          <a class="clickable">Find Job</a>
        </li>
        <li class="nav-item">
          <a class="clickable"  (click)="clickService()">Add Post</a>
        </li>
      </ul>

    </div>
  </nav>

</div>

