<!-- <div class="main">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="/">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Produit
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a routerLink="/products">Chercher</a></li>
          <li><a routerLink="/new-product">Ajouter</a></li>
        </ul>
      </li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>

</nav>
<div class="container">
  <div class="starter-template">

  </div>

</div><-- /.container


<div class="container body">
  <router-outlet>

  </router-outlet>
</div>
</div>
-->

<!-- Header -->
<app-header></app-header>


<!-- Routes get injected here-->
<router-outlet></router-outlet>


<!-- Footer-->
<app-footer></app-footer>

