
<nav class="hidden-xs-down bg-faded sidebar">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a  class="nav-link " [routerLink]="[{outlets:{contentOutlet:'dashboard'}}]" routerLinkActive = "active" > Dashboard </a>
    </li>
    <li class="nav-item">
      <a class="nav-link "[routerLink]="[{outlets:{contentOutlet:'produit'}}]" routerLinkActive = "active" >Sell Produit </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Home Services</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">Hotel Services</a>
    </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Client Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Professional Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Maison</a>
      </li>

  </ul>
</nav>
