<div>
  <div class="row">
    <div class="col-lg-5">
      <app-my-chart
        [type]="'bar'"
        [title]="'Client par Catégorie'">
      </app-my-chart>
      <!--line pour user-->
    </div>
    <div class="col-lg-7">
      <app-my-chart
        [type]="'line'"
        [title]="'présentation linéaire des Catégories'"
      ></app-my-chart>
      <!--line pour produit-->
    </div>
  </div>
</div>



<hr color="red "/>
<div>
  <div class="row">
    <div class="col-lg-5">
      <app-my-chart
        [type]="'bar'"
        [title]="'Client par Catégorie'">
      </app-my-chart>
      <!--line pour user-->
    </div>
    <div class="col-lg-7">
      <app-my-chart
        [type]="'line'"
        [title]="'présentation linéaire des Catégories'"
      ></app-my-chart>
      <!--line pour produit-->
    </div>
  </div>
</div>
