<section class="hero is-info is-fullheight is-bold">
  <div class="hero-body">
  <div class="container">
    <h1 class="title"></h1>
      <!--<app-contact></app-contact>-->


      <div class='container landing-container'>
        <div class='columns is-mobile box search-box'>
          <div class='column  is-paddingless'>
            <form class='search-block'>
              <label class='search-label label'>
                <span>Quoi</span>
              </label>
              <input class='search-input home-input' placeholder='Vous cherchez' type='/search' value=''>
            </form>
          </div>
          <div class='column is-2 is-paddingless'>
            <a class='button is-primary is-large search-button'>Search</a>
          </div>
          </div>
          </div>
  </div>
  </div>
  </section>
